*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    margin-bottom: 5px;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
.icon{
    text-align: right;
    font-size: 25px;
    margin: 5px;
    border: 1px solid black;
    background-color: black;
    width: 5%;
    cursor: pointer;
    padding: 5px;
}
.fa-moon{
    color: #f2c44f;
}
.fa-sun{
    color: #f39c10;
}   
q{
    text-align: center;
    display: block;
} 
.container{
    padding: 10px;
    font-size: 23px;
    line-height: 40px;
    text-align: justify;
}